.footer {
  /*border: 2px solid red;*/
  display: flex;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  
  div {
    width: 20%;
    border: 1px outset silver;
    padding-left: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
