.game-table {
  background-color: green;
  height: calc(100vh - 100px);
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  min-width: 1280px; /* temporary until we build out the layout more */
  & > div {
    height: 50%;
    /*border: 4px solid black;*/
  }
}
